RewriteEngine On

# Canonical único: sempre HTTPS + sem WWW
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^andregustavo\.com\.br$ [NC]
RewriteRule ^ https://andregustavo.com.br%{REQUEST_URI} [R=301,L,NE]
